@using System.Globalization
@using Domain.Common
@using Microsoft.AspNetCore.Localization
@using Presentation.Components.Layout

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <title>SanGoWay</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  name="viewport"/>
    <base href="/">
    <link rel="manifest" href="manifest.json">

    <link rel="icon" href="favicons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">

    <link href="Presentation.styles.css" rel="stylesheet"/>
    <link href="styles/app.min.css" rel="stylesheet"/>
    <script src="@($"https://www.google.com/recaptcha/api.js?hl={Language}")"></script>
    <script src="scripts/captchaUtils.js"></script>
    <script src="scripts/util.js"></script>

    <HeadOutlet @rendermode="InteractiveServer"/>

    @* SEO Meta Tags *@
    <link rel="canonical" href="@NavigationManager.Uri" />
    <meta name="title" content="SanGoWay">
    <meta name="description" content="We are a new company in the shipping industry, offering reliable, fast, and affordable services from USA to Georgia">
    <meta name="keywords" content="shipping, parcel delivery, global shipping, international shipping, logistics, courier, express delivery, affordable shipping, georgia">
    <meta name="theme-color" content="#047835">
    <meta property="author" content="tenxdeveloper"/>

    @* OG Meta Tags *@
    <meta property="og:locale" content="@CultureInfo.CurrentCulture.Name"/>
    <meta property="og:title" content="SanGoWay">
    <meta property="og:site_name" content="SanGoWay">
    <meta property="og:url" content="@NavigationManager.Uri">
    <meta property="og:image" content="@($"https://{WebAppDomain}/images/cover.webp")">
    <meta property="og:description" content="We are a new company in the shipping industry, offering reliable, fast, and affordable services from USA to Georgia">
    <meta property="og:type" content="website">

    @* Twitter Meta Tags *@
    <meta name="twitter:creator" content="@@tenxdeveloper">
    <meta name="twitter:title" content="SanGoWay">
    <meta name="twitter:site" content="@@SanGoWayOfficial">
    <meta name="twitter:image" content="@($"https://{WebAppDomain}/images/cover.webp")">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="We are a new company in the shipping industry, offering reliable, fast, and affordable services from USA to GEORGIA only">
</head>
<body class="bg-topo overflow-y-scroll transition-all duration-100">

<Routes @rendermode="InteractiveServer"/>

<div id="blazor-error-ui" class="bg-background text-primary">
    <a href="" class="reload">@Locale.reload</a>
    <a class="dismiss">&times;</a>
</div>

<div id="components-reconnect-modal">
    <Card id="reconnect-show">
        <Header class="space-y-1">
            <CardTitle class="text-2xl">@Locale.detected_a_networking_issue</CardTitle>
            <Description>@Locale.this_is_not_a_major_issue</Description>
        </Header>
        <Content class="grid gap-6">
            @Locale.to_continue_please_reload
        </Content>
        <Footer>
            <Button class="w-full" onclick="location.reload()">
                <Blazicon Svg="@Lucide.RefreshCcw" class="size-6"/>
                @Locale.reload
            </Button>
        </Footer>
    </Card>

    <Card id="reconnect-hide">
        <Header class="space-y-1">
            <CardTitle class="text-2xl">Success</CardTitle>
        </Header>
        <Content class="grid gap-6">
            Server connection restored
        </Content>
    </Card>

    <Card id="reconnect-failed">
        <Header class="space-y-1">
            <CardTitle class="text-2xl">@Locale.detected_a_networking_issue</CardTitle>
            <Description>@Locale.this_is_not_a_major_issue</Description>
        </Header>
        <Content class="grid gap-6">
            @Locale.to_continue_please_reload
        </Content>
        <Footer>
            <Button class="w-full" onclick="window.Blazor.reconnect()">
                <Blazicon Svg="@Lucide.RefreshCcw" class="size-6"/>
                @Locale.reload
            </Button>
        </Footer>
    </Card>

    <Card id="reconnect-rejected">
        <Header class="space-y-1">
            <CardTitle class="text-2xl">@Locale.detected_a_networking_issue</CardTitle>
            <Description>@Locale.this_is_not_a_major_issue</Description>
        </Header>
        <Content class="grid gap-6">
            @Locale.to_continue_please_reload
        </Content>
        <Footer>
            <Button class="w-full" onclick="location.reload()">
                <Blazicon Svg="@Lucide.RefreshCcw" class="size-6"/>
                @Locale.reload
            </Button>
        </Footer>
    </Card>
</div>

<script src="_framework/blazor.web.js"></script>
<script src="scripts/setSelectedTheme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null!;
    private string WebAppDomain => "WEB_APP__DOMAIN".FromEnvRequired();
    private string Language => CultureInfo.CurrentCulture.Name.Split('-')[0];

    protected override void OnInitialized()
    {
        HttpContext?.Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(
                new RequestCulture(
                    CultureInfo.CurrentCulture,
                    CultureInfo.CurrentUICulture)));
    }
}
