@page "/about"
@using Presentation.Components.Ui.Typography
@attribute [AllowAnonymous]

<PageTitle>@Locale.about_us</PageTitle>
<PageHeader Title="@Locale.about_us"/>

<Card class="mx-auto mt-4">
    <Header>
        <Description>
            @Locale.about_description
        </Description>
    </Header>

    <Content>
        <Header2>@Locale.about_mission</Header2>
        <Paragraph>
            @Locale.about_mission_description
        </Paragraph>

        <Header2>@Locale.about_who_are_we</Header2>
        <Paragraph>
            @Locale.about_who_are_we_description

        </Paragraph>
        <UnorderedList>
            <li><strong>@Locale.owner:</strong> @Locale.about_giorgi_sanakoevi</li>
            <li><strong>@Locale.dev_team:</strong> tenxdeveloper. <Link Title="Contact" Href="https://t.me/tenxdeveloper"/></li>
        </UnorderedList>

        <Header2>@Locale.about_achievements</Header2>
        <Paragraph>
            @Locale.about_achievements_description
        </Paragraph>

        <Header2>@Locale.about_why_us</Header2>
        <Paragraph>
            @Locale.about_why_us_description
        </Paragraph>
    </Content>
</Card>
