@using Application.Services
@using Blazored.Modal.Services
@using Domain.ValueObjects
@using Domain.Aggregates
@inject ICurrentUserAccessor CurrentUser
@inject IModalService Modal
@attribute [StreamRendering]

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
    <Card>
        <Header class="flex flex-row items-center justify-between">
            <CardTitle>@Locale.your_balance</CardTitle>
            <Blazicon Svg="@Icons.DollarSign" class="text-muted-foreground size-4"/>
        </Header>
        <Content class="text-2xl font-bold">
            @User.Balance.FormatedValue
        </Content>
        <Footer class="text-muted-foreground text-xs">
            @Locale.your_balance
        </Footer>
    </Card>

    <Card>
        <Header class="flex flex-row items-center justify-between">
            <CardTitle>@Locale.total_amount_due</CardTitle>
            <Blazicon Svg="@Icons.Minus" class="text-muted-foreground size-4"/>
        </Header>
        <Content class="@("text-2xl font-bold " + (AmountDue.Amount > 0 ? "text-red-700 dark:text-red-400" : ""))">
            @AmountDue.FormatedValue
        </Content>
        <Footer class="text-muted-foreground text-xs">
            @Locale.total_amount_due
        </Footer>
    </Card>

    <Card>
        <Header class="flex flex-row items-center justify-between">
            <CardTitle>@Locale.your_packages</CardTitle>
            <Blazicon Svg="@Icons.Truck" class="text-muted-foreground size-4"/>
        </Header>
        <Content class="text-2xl font-bold">
            @User.ReceivedPackages.Count
        </Content>
        <Footer class="text-muted-foreground text-xs">
            @Locale.your_packages
        </Footer>
    </Card>

    <Card>
        <Header class="flex flex-row items-center justify-between">
            <CardTitle>@Locale.top_up_balance</CardTitle>
            <Blazicon Svg="@Icons.CreditCard" class="text-muted-foreground size-4"/>
        </Header>
        <Content>
            <Button @onclick="@(OpenTopUpModal)">
                @Locale.top_up_balance
            </Button>
        </Content>
        <Footer class="text-muted-foreground text-xs">
            @Locale.your_payment_info_is_secure
        </Footer>
    </Card>
</div>

@code {
    private User User { get; set; } = null!;

    private Money AmountDue => new(
        PackagePrice.DefaultCurrency,
        User.ReceivedPackages
            .Where(p => !p.IsPaid)
            .Where(p => p.CurrentStatus.Status is PackageStatus.Arrived)
            .Sum(p => p.Price!.TotalPrice.Amount));

    protected override async Task OnInitializedAsync()
    {
        User = await CurrentUser.GetCurrentUserAsync(CancellationToken);
    }

    private async Task OpenTopUpModal()
    {
        var modal = Modal.Show<TopUpModal>();
        await modal.Result;
    }
}
