@page "/races/new"
@layout HomeLayout
@using Application.Cqrs.Races.Commands
@using Microsoft.AspNetCore.Components.Sections
@attribute [Authorize(Roles = "Staff,Admin")]

<PageTitle>Create race</PageTitle>
<SectionContent SectionId="HomeLayout.TitleSectionId">Create race</SectionContent>

<Card>
    <Header>
        <CardTitle>Create race</CardTitle>
    </Header>
    <Content>
        <AppForm @bind-Model="Command" OnValidSubmit="OnValidSubmit">
            <FormField>
                <FormLabel for="name">Name</FormLabel>
                <FormInputText id="name"
                               disabled="@IsLoading"
                               @bind-Value="@Command.Name"
                               placeholder="Enter flight code"
                               required/>
                <FormDescription>The flight code (eg. US1001)</FormDescription>
                <FormInvalidFeedback For="@(() => Command.Name)"/>
            </FormField>

            <InlineFormFieldContainer>
                <FormField>
                    <FormLabel for="origin">Origin</FormLabel>
                    <FormInputText id="origin"
                                   disabled="@IsLoading"
                                   @bind-Value="@Command.Origin"
                                   placeholder="Enter origin"
                                   required/>
                    <FormDescription>The airport name (eg. New York)</FormDescription>
                    <FormInvalidFeedback For="@(() => Command.Origin)"/>
                </FormField>

                <FormField>
                    <FormLabel for="destination">Destination</FormLabel>
                    <FormInputText id="destination"
                                   disabled="@IsLoading"
                                   @bind-Value="@Command.Destination"
                                   placeholder="Enter destination"
                                   required/>
                    <FormDescription>The airport name (eg. Tbilisi)</FormDescription>
                    <FormInvalidFeedback For="@(() => Command.Destination)"/>
                </FormField>
            </InlineFormFieldContainer>

            <InlineFormFieldContainer>
                <FormField>
                    <FormLabel for="takeoff">Takeoff date</FormLabel>
                    <InputDate id="takeoff"
                               class="@FormInputText.BaseClass"
                               Type="InputDateType.Date"
                               @bind-Value="@Command.TakeOff"
                               required/>
                    <FormInvalidFeedback For="@(() => Command.TakeOff)"/>
                </FormField>

                <FormField>
                    <FormLabel for="landing">Landing</FormLabel>
                    <InputDate id="landing"
                               class="@FormInputText.BaseClass"
                               Type="InputDateType.Date"
                               @bind-Value="@Command.Landing"
                               required/>
                    <FormInvalidFeedback For="@(() => Command.Landing)"/>
                </FormField>
            </InlineFormFieldContainer>

            <Button type="submit" disabled="@IsLoading">
                @if (IsLoading)
                {
                    <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
                }
                Create flight
            </Button>
        </AppForm>
    </Content>
</Card>

@code {
    private CreateRaceCommand Command { get; set; } = new();

    private async Task OnValidSubmit()
    {
        var result = await SendCommandAsync(Command);
        ShowSuccess($"Race '{result.QualifiedName}' successfully created.");
        Command = new();
    }
}