@page "/auth/login"
@using Application.Cqrs.Users.Commands
@using Presentation.Components.Ui.Form
@inject CookieService Cookie
@attribute [AllowAnonymous]

<PageTitle>Log in</PageTitle>

<div class="p-6 md:p-8 space-y-4">
    <AuthHeader Title="Welcome back!" Description="Login to your account"/>

    <AppForm @bind-Model="Command" OnValidSubmit="LoginUser" novalidate class="grid gap-4">
        <FormField>
            <FormLabel for="email">Email</FormLabel>
            <FormInputText id="email"
                           @bind-Value="@Command.Email"
                           placeholder="name@example.com"
                           type="email"
                           required
                           autocomplete="email"
                           disabled="@IsLoading"/>

            <FormInvalidFeedback For="@(() => Command.Email)"/>
        </FormField>

        <FormField>
            <FormLabel for="password">
                Password

                <a href="/auth/forgot_password" class="hover:underline text-muted-foreground hover:text-primary">
                    Forgot password?
                </a>
            </FormLabel>
            <FormInputText id="password"
                           @bind-Value="@Command.Password"
                           placeholder="Enter password"
                           type="password"
                           required
                           autocomplete="current-password"
                           disabled="@IsLoading"/>

            <FormDescription>
                <a href="/auth/resend_email_confirmation" class="hover:underline text-muted-foreground hover:text-primary">
                    Resend email confirmation
                </a>
            </FormDescription>

            <FormInvalidFeedback For="@(() => Command.Password)"/>
        </FormField>

        <Button type="submit" disabled="@IsLoading">
            @if (IsLoading)
            {
                <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
            }
            Login
        </Button>

        <div class="relative text-center text-sm after:absolute after:inset-0 after:top-1/2 after:z-0 after:flex after:items-center after:border-t after:border-border">
            <span class="relative z-10 bg-background px-2 text-muted-foreground">
                Dont have an account?
            </span>
        </div>

        <Button
            Href="@(NavigationManager.GetUriWithQueryParameters("auth/register", new Dictionary<string, object?> { ["returnUrl"] = ReturnUrl }))"
            Variant="outline" disabled="@IsLoading">
            @if (IsLoading)
            {
                <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
            }
            Register
        </Button>
    </AppForm>
</div>

@code {
    [CascadingParameter]
    private TimeZoneInfo BrowserTimeZone { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private LoginCommand Command { get; set; } = new();

    private bool IsLoading { get; set; }

    public async Task LoginUser()
    {
        Command.TimeZoneInfo = BrowserTimeZone;

        IsLoading = true;
        var result = await Mediator.Send(Command);
        IsLoading = false;

        if (result is not null)
        {
            await Cookie.SetCookieAsync(JwtGenerator.CookieName, result.Value.Token!);
            NavigationManager.NavigateTo(ReturnUrl ?? "/");
        }
        else if (result is (true, _, _))
            NavigationManager.NavigateTo("account/lockout");
        else
            Toast.ShowError("Invalid credentials.");
    }
}