@page "/auth/confirm_email"
@using Application.Cqrs.Users.Commands

<PageTitle>@Locale.confirm_email</PageTitle>
<PageHeader Title="@Locale.your_account_has_been_confirmed" Description="@Locale.welcome_to_our_app"/>
<Button Href="auth/login" class="w-full">
    @Locale.login
</Button>

@code {
    [SupplyParameterFromQuery]
    private string? Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Token))
        {
            NavigationManager.NavigateTo("/auth/invalid_token");
            return;
        }

        var user = await Mediator.Send(new ConfirmEmailCommand(Token));
        if (user is null)
            ShowError(@Locale.failed_to_validate_token);
    }
}