@using Application.Cqrs.Users.Commands
@using Application.Services
@inject ICurrentUserAccessor CurrentUser
@inject IAppDbContext DbContext
@inject CookieService Cookie
@inject IdentityRevalidatingAuthenticationStateProvider AuthenticationStateProvider

<AppForm @bind-Model="Command" OnValidSubmit="OnValidSubmit">
    <FormField>
        <FormLabel for="current-password">@Locale.current_password</FormLabel>
        <FormInputText id="current-password"
                       @bind-Value="@Command.CurrentPassword"
                       type="@(ShowPassword ? "text" : "password")"
                       autocomplete="current-password"
                       placeholder="@Locale.current_password"
                       required
                       disabled="@IsLoading"/>
        <FormInvalidFeedback For="@(() => Command.CurrentPassword)"/>
    </FormField>

    <FormField>
        <FormLabel for="new-password">@Locale.new_password</FormLabel>
        <FormInputText id="new-password"
                       @bind-Value="@Command.NewPassword"
                       type="@(ShowPassword ? "text" : "password")"
                       autocomplete="new-password"
                       placeholder="@Locale.new_password"
                       required
                       disabled="@IsLoading"/>
        <FormInvalidFeedback For="@(() => Command.NewPassword)"/>
    </FormField>

    <FormField>
        <FormLabel for="confirm-new-password">@Locale.confirm_new_password</FormLabel>
        <FormInputText id="confirm-new-password"
                       @bind-Value="@Command.ConfirmNewPassword"
                       type="@(ShowPassword ? "text" : "password")"
                       autocomplete="new-password"
                       placeholder="@Locale.confirm_new_password"
                       required
                       disabled="@IsLoading"/>
        <FormInvalidFeedback For="@(() => Command.ConfirmNewPassword)"/>
    </FormField>

    <FormField>
        <div class="flex flex-row items-center gap-2">
            <Switch id="show" @bind-Value="ShowPassword"/>
            <FormLabel for="show">@Locale.show_password</FormLabel>
        </div>
    </FormField>

    <FormDescription>
        @Locale.forgot_password <Link Title="@Locale.reset" Href="/auth/reset_password"/>
    </FormDescription>

    <Button type="submit" disabled="@IsLoading">
        @if (IsLoading)
        {
            <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
        }
        @Locale.change_password
    </Button>
</AppForm>

@code {
    private bool ShowPassword { get; set; }
    private ChangePasswordCommand Command { get; set; } = new();

    private async Task OnValidSubmit()
    {
        await SendCommandAsync(Command);
        ShowSuccess(Locale.your_password_has_been_reset);

        await Task.Delay(2000);

        await Cookie.DeleteCookieAsync(JwtGenerator.CookieName);
        AuthenticationStateProvider.ForceSignOut();
        NavigationManager.NavigateTo("/auth/login");
    }
}
