@page "/users/new"
@attribute [Authorize(Roles = "Admin")]
@using System.Globalization
@using Application.Cqrs.Users.Commands
@using Domain.ValueObjects

<PageTitle>@Locale.create_new_user</PageTitle>

<Card>
    <Header>
        <CardTitle>@Locale.create_new_user</CardTitle>
    </Header>
    <Content>
        <AppForm @bind-Model="CreateUserCommand" OnValidSubmit="OnValidSubmit">
            <InlineFormFieldContainer>
                <FormField>
                    <FormLabel for="full-name">@Locale.full_name</FormLabel>
                    <FormInputText id="full-name"
                                   @bind-Value="@CreateUserCommand.FullName"
                                   placeholder="Enter full name"
                                   type="text"
                                   required
                                   autocomplete="name"
                                   disabled="@IsLoading"/>

                    <FormInvalidFeedback For="@(() => CreateUserCommand.FullName)"/>
                </FormField>

                <FormField>
                    <FormLabel for="email">@Locale.email</FormLabel>
                    <FormInputText id="email"
                                   @bind-Value="@CreateUserCommand.Email"
                                   placeholder="Enter email"
                                   type="email"
                                   required
                                   autocomplete="email"
                                   disabled="@IsLoading"/>

                    <FormInvalidFeedback For="@(() => CreateUserCommand.Email)"/>
                </FormField>
            </InlineFormFieldContainer>

            <InlineFormFieldContainer>
                <FormField>
                    <FormLabel for="phone">@Locale.phone_number</FormLabel>
                    <FormInputText id="phone"
                                   @bind-Value="@CreateUserCommand.PhoneNumber"
                                   placeholder="955599123123"
                                   type="phone"
                                   required
                                   autocomplete="tel mobile"
                                   disabled="@IsLoading"/>

                    <FormInvalidFeedback For="@(() => CreateUserCommand.PhoneNumber)"/>
                </FormField>

                <FormField>
                    <FormLabel for="personal-id">@Locale.personal_id</FormLabel>
                    <FormInputText id="personal-id"
                                   @bind-Value="@CreateUserCommand.PersonalId"
                                   placeholder="Id or SSN"
                                   type="email"
                                   required
                                   autocomplete="personal-id"
                                   disabled="@IsLoading"/>

                    <FormInvalidFeedback For="@(() => CreateUserCommand.PersonalId)"/>
                </FormField>
            </InlineFormFieldContainer>

            <FormField>
                <FormLabel for="role">@Locale.role</FormLabel>
                <FormInputEnum TEnum="Role" @bind-Value="CreateUserCommand.Role" Options="@(Enum.GetValues<Role>())"/>
                <FormInvalidFeedback For="@(() => CreateUserCommand.Role)"/>
            </FormField>

            <FormField>
                <FormLabel for="password">@Locale.password</FormLabel>
                <FormInputText id="password"
                               @bind-Value="@CreateUserCommand.Password"
                               placeholder="Enter password"
                               type="@(ShowPassword ? "text" : "password")"
                               required
                               autocomplete="new-password"
                               disabled="@IsLoading"/>

                <FormDescription class="w-full flex justify-between">
                    @Locale.please_choose_a_strong_password
                </FormDescription>

                <FormInvalidFeedback For="@(() => CreateUserCommand.Password)"/>
            </FormField>

            <FormField>
                <div class="flex flex-row items-center gap-2">
                    <Switch id="show-password" @bind-Value="ShowPassword"/>
                    <FormLabel for="show-password">
                        @Locale.show_password
                    </FormLabel>
                </div>
            </FormField>

            <FormDescription>
                @Locale.address
            </FormDescription>

            <FormField>
                <div class="flex flex-row items-center gap-2">
                    <Switch id="add-address" @bind-Value="AddAddress"/>
                    <FormLabel for="add-address">
                        @Locale.add_address
                    </FormLabel>
                </div>
            </FormField>

            @if (AddAddress)
            {
                <InlineFormFieldContainer>
                    <FormField>
                        <FormLabel for="country">@Locale.country</FormLabel>
                        <FormInputText
                            id="country"
                            @bind-Value="@AddAddressCommand.Country"
                            required
                            placeholder="Enter country"
                            autocomplete="address-level2"
                            disabled="@IsLoading"/>
                        <FormInvalidFeedback For="@(() => AddAddressCommand.Country)"/>
                    </FormField>

                    <FormField>
                        <FormLabel for="state">@Locale.state</FormLabel>
                        <input
                            id="state"
                            class="@FormInputText.BaseClass"
                            autocomplete="address-level1"
                            placeholder="State unavailable in Georgia"
                            disabled/>
                        <FormInvalidFeedback For="@(() => AddAddressCommand.State)"/>
                    </FormField>
                </InlineFormFieldContainer>

                <InlineFormFieldContainer>
                    <FormField>
                        <FormLabel for="city">@Locale.city</FormLabel>
                        <FormInputText
                            id="city"
                            @bind-Value="@AddAddressCommand.City"
                            required
                            placeholder="Enter city"
                            autocomplete="address-level2"
                            disabled="@IsLoading"/>
                        <FormInvalidFeedback For="@(() => AddAddressCommand.City)"/>
                    </FormField>

                    <FormField>
                        <FormLabel for="zip">@Locale.zip_code</FormLabel>
                        <FormInputText
                            id="zip"
                            @bind-Value="@AddAddressCommand.ZipCode"
                            type="number"
                            step="1"
                            min="0"
                            max="99999"
                            required
                            placeholder="Enter zip code"
                            autocomplete="postal-code"
                            disabled="@IsLoading"/>
                        <FormInvalidFeedback For="@(() => AddAddressCommand.ZipCode)"/>
                    </FormField>
                </InlineFormFieldContainer>

                <FormField>
                    <FormLabel for="street-address">@Locale.street_address</FormLabel>
                    <FormInputText
                        id="street-address"
                        @bind-Value="@AddAddressCommand.Address"
                        required
                        placeholder="Enter full street address"
                        autocomplete="street-address"
                        disabled="@IsLoading"/>
                    <FormInvalidFeedback For="@(() => AddAddressCommand.Address)"/>
                </FormField>
            }

            <Button type="submit" disabled="@IsLoading">
                @if (IsLoading)
                {
                    <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
                }
                @Locale.create
            </Button>
        </AppForm>
    </Content>
</Card>

@code {
    [CascadingParameter]
    private TimeZoneInfo BrowserTimeZone { get; set; } = null!;

    [CascadingParameter]
    private CultureInfo BrowserLocale { get; set; } = null!;

    private bool ShowPassword { get; set; } = true;
    private bool AddAddress { get; set; } = false;
    private CreateUserCommand CreateUserCommand { get; set; } = new();
    private AddAddressCommand AddAddressCommand { get; set; } = new();

    private async Task OnValidSubmit()
    {
        CreateUserCommand.TimeZoneInfo = BrowserTimeZone;
        CreateUserCommand.CultureInfo = BrowserLocale;

        var user = await SendCommandAsync(CreateUserCommand);

        if (AddAddress)
        {
            AddAddressCommand.User = user;
            await SendCommandAsync(AddAddressCommand);
        }

        ShowSuccess("User has been successfully created!");
        CreateUserCommand = new CreateUserCommand();
    }
}