@using Application.Common
@using Domain.ValueObjects

<div class="grid">
    <Card>
        <Header>
            <CardTitle class="flex flex-row items-center justify-between">
                <span>@AddressName</span>
                <span class="text-muted-foreground">
                    @Locale.rate_per_kilo: @Rate.FormatedValue / KG
                </span>
            </CardTitle>
            @if (!string.IsNullOrWhiteSpace(AddressDescription))
            {
                <Description>
                    @AddressDescription
                </Description>
            }
        </Header>
        <Content class="grid grid-cols-1 md:grid-cols-2 justify-between align-middle items-center gap-x-6 gap-y-3">
            <AuthorizeView>
                <AddressField Title="Name" Value="@context.User.GetUsername()"/>
                <AddressField Title="Country" Value="@Country"/>
                <AddressField Title="State" Value="@State"/>
                <AddressField Title="City" Value="@City"/>
                <AddressField Title="Address 1" Value="@Address1"/>
                <AddressField Title="Address 2" Value="@context.User.GetRoomCode()"/>
                <AddressField Title="Zip code" Value="@ZipCode"/>
                <AddressField Title="Phone" Value="@Phone"/>
            </AuthorizeView>
        </Content>
    </Card>
</div>

@code {
    [Parameter, EditorRequired]
    public string AddressName { get; set; } = null!;

    [Parameter]
    public string? AddressDescription { get; set; }

    [Parameter, EditorRequired]
    public Money Rate { get; set; }

    [Parameter, EditorRequired]
    public string Address1 { get; set; } = null!;

    [Parameter, EditorRequired]
    public string City { get; set; } = null!;

    [Parameter, EditorRequired]
    public string State { get; set; } = null!;

    [Parameter, EditorRequired]
    public string ZipCode { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Country { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Phone { get; set; } = null!;
}