@page "/addresses"
@layout HomeLayout
@using Domain.ValueObjects
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>@Locale.addresses</PageTitle>
<SectionContent SectionId="HomeLayout.TitleSectionId">@Locale.my_addresses</SectionContent>

<Tabs Value="Country.Usa" class="space-y-4">
    <div class="w-full overflow-x-scroll">
        <List>
            <Trigger Value="Country.Usa">United states</Trigger>
            <Trigger Value="Country.UsaNoTax">United states (No Tax)</Trigger>
            <Trigger Value="Country.Uk" disabled>United Kingdom</Trigger>
        </List>
    </div>
    <TabContent Value="Country.Usa" class="space-y-4">
        <AddressDisplay
            AddressName="United States"
            AddressDescription="The standard address"
            Rate="@(new Money((Currency)"USD", 800))"
            Address1="21-A Brookside Dr."
            City="Wilmington"
            State="DE"
            ZipCode="19804"
            Country="United States"
            Phone="+1 302 691 0017"/>
    </TabContent>

    <TabContent Value="Country.UsaNoTax" class="space-y-4">
        <AddressDisplay
            AddressName="United States (duty free)"
            AddressDescription="When ordering from this address, you do not pay any taxes. This is a duty free address."
            Rate="@(new Money((Currency)"USD", 700))"
            Address1="1618 East Ayre Street"
            City="Wilmington"
            State="DE"
            ZipCode="something else"
            Country="United States"
            Phone="+1 347 296 8792"/>
    </TabContent>

    <TabContent Value="Country.Uk" class="space-y-4">
        <AddressDisplay
            AddressName="Uk"
            Rate="@(new Money((Currency)"GBP", 700))"
            Address1="13 Oglethorpe Road"
            City="Dagenham"
            State="Essex"
            ZipCode="RM10 7SA"
            Country="United Kingdom"
            Phone="+44 7450 949016"/>
    </TabContent>
</Tabs>

@code {
    public enum Country
    {
        Usa,
        UsaNoTax,
        Uk,
    }
}
