<footer class="border-grid border-t bg-background">
    <div class="container">
        <div class="py-4 grid items-start gap-6 sm:gap-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
            <div class="col-span-1 sm:col-span-2 flex flex-col gap-2 max-w-md">
                <span class="text-xl font-semibold">
                    @Locale.newsletter
                </span>

                <span class="text-muted-foreground text-sm">
                    @Locale.enter_your_email_to_receive_notifications_about_product_updates
                </span>

                <input class="@FormInputText.BaseClass" placeholder="name@example.com" autocomplete="email"/>

                <Button>
                    @Locale.subscribe
                </Button>
            </div>

            <div class="flex flex-col gap-2">
                <span class="text-xl font-semibold">
                    @Locale.partner_sites
                </span>

                <ul class="text-sm space-y-1">
                    <li>
                        <Link Title="amazon.com" target="_blank" rel="noreferer" Href="https://amazon.com"/>
                    </li>
                    <li>
                        <Link Title="ebay.com" target="_blank" rel="noreferer" Href="https://ebay.com"/>
                    </li>
                    <li>
                        <Link Title="aliexpress.com" target="_blank" rel="noreferer" Href="https://aliexpress.com"/>
                    </li>
                    <li>
                        <Link Title="alibaba.com" target="_blank" rel="noreferer" Href="https://alibaba.com"/>
                    </li>
                    <li>
                        <Link Title="shein.com" target="_blank" rel="noreferer" Href="https://shein.com"/>
                    </li>
                </ul>
            </div>

            <address class="flex flex-col gap-1 not-italic">
                <span class="text-xl font-semibold">
                    @Locale.contact
                </span>

                <ul class="text-sm space-y-1">
                    <li>
                        <Link Href="https://maps.app.goo.gl/sKYqWLaHK5Av5ir28" target="_blank" rel="noreferrer"
                              Title="2935 Ocean Parkway, apt. 2J, Brooklyn Ny"/>
                    </li>
                    <li>
                        <Link Href="tel:+9950322120282" target="_blank" rel="noreferrer"
                              Title="GEO: +995 (0) 322 120282"/>
                    </li>
                    <li>
                        <Link Href="tel:+13472968796" target="_blank" rel="noreferrer"
                              Title="USA: +1 347-296-8796"/>
                    </li>

                    <li>
                        <Link Href="tel:+9950322142244" target="_blank" rel="noreferer"
                              Title="Forsa Express: +995 (0) 322 142244"/>
                    </li>

                    <li>
                        <Link Href="tel:+13477075400" target="_blank" rel="noreferer"
                              Title="Whatsapp, Telegram, Viber: +1 347-707-5400"/>
                    </li>

                    <li>
                        <Link Href="mailto:contact@sangoway.com" target="_blank" rel="noreferrer"
                              Title="contact@sangoway.com"/>
                    </li>
                </ul>
            </address>
        </div>

        <div class="w-full text-start pb-4 text-sm leading-loose text-muted-foreground">
            SanGoWay &copy; 2024-2028 @Locale.all_rights_reserved.

            <Link Href="https://t.me/tenxdeveloper" Title="@Locale.contact_dev_team" target="_blank" rel="noreferrer"/>
        </div>
    </div>
</footer>