@using Domain.ValueObjects
@using Application.Services
@inject ICurrentUserAccessor CurrentUser
@inject IAppDbContext DbContext

<header class="border-grid fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container flex h-14 items-center justify-between">
        <div class="mr-4 flex">
            @{
                var url = CurrentUser.Role switch
                {
                    Role.User => "/user_dashboard",
                    Role.Staff => "/staff_dashboard",
                    Role.Admin => "/admin_dashboard",
                    _ => "/",
                };
            }

            <a class="mr-4 sm:flex items-center gap-2 lg:mr-6" href="@url">
                <Blazicon Svg="@Icons.Truck" class="!size-8"/>
                <span class="hidden font-bold lg:inline-block">
                    <AuthorizeView>
                        <Authorized>@Locale.dashboard</Authorized>
                        <NotAuthorized>@Locale.home</NotAuthorized>
                    </AuthorizeView>
                </span>
            </a>

            <nav class="flex items-center text-sm gap-2 sm:gap-4 md:gap-6">
                <AuthorizeView Roles="User">
                    <Authorized>
                        <HeaderNavLink Href="/addresses" Title="@Locale.my_addresses"/>
                        <HeaderNavLink Href="/track_package" Title="@Locale.track_package"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Staff">
                    <Authorized>
                        <HeaderNavLink Href="/packages/all" Title="@Locale.packages"/>
                        <HeaderNavLink Href="/races/all" Title="@Locale.races"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <HeaderNavLink Href="/packages/all" Title="@Locale.packages"/>
                        <HeaderNavLink Href="/races/all" Title="@Locale.races"/>
                        <HeaderNavLink Href="/users/all" Title="@Locale.users"/>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView>
                    <NotAuthorized>
                        <HeaderNavLink Href="/about" Title="@Locale.about_us"/>
                        <HeaderNavLink Href="/faq" Title="@Locale.faq"/>
                        <HeaderNavLink Href="/calculate" Title="@Locale.calculator"/>
                        <HeaderNavLink Href="/track_package" Title="@Locale.track_package"/>
                    </NotAuthorized>
                </AuthorizeView>
            </nav>
        </div>

        <div class="flex align-middle space-x-2">
            <ThemeToggle/>
            <CultureToggle/>
            <Search/>
            <AuthStatus/>
        </div>
    </div>
</header>
