@layout EmailLayout
@using Domain.Aggregates
@using Domain.Common
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    @Emails.your_account_is_scheduled_for_deletion
</SectionContent>

<EmailParagraph>
    @Emails.we_are_sorry_to_see_you_go_however_you_have_a_30_day_grace_period_to_recover_your_account
</EmailParagraph>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

<EmailParagraph>
    @Emails.to_recover_your_account_just_login_with_your_email_and_password_normally
</EmailParagraph>

<EmailCta Href="@($"https://{WebAppDomain}/auth/login")" Title="login" target="_blank"/>

<SectionContent SectionId="@EmailLayout.FooterSectionId">
    @Emails.if_you_did_not_request_this_action_please_contact_our_support_immediately<br/>
    @Emails.this_email_was_sent_to @User.Email.
    @Emails.support_email: <a href="mailto:support@sangoway.com">support@sangoway.com</a>
</SectionContent>

@code {
    private static string WebAppDomain => "WEB_APP__DOMAIN".FromEnvRequired();

    [Parameter]
    public User User { get; set; } = null!;

    [Parameter]
    public string CallbackUrl { get; set; } = null!;
}
