@layout EmailLayout
@using Domain.Aggregates
@using Domain.Common
@using Domain.Entities
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    @Emails.someone_just_signed_into_your_account
</SectionContent>

<SectionContent SectionId="@EmailLayout.FooterSectionId">
    @Emails.if_you_did_not_attempt_to_login_to_your_account_just_now_please_change_your_password_immediately<br/>
    @Emails.someone_is_trying_to_access_your_account_do_not_delay_resetting_your_password<br/>
    @Emails.support_email <a href="mailto:support@sangoway.com" target="_blank" style="color:#067df7;text-decoration:none;">support@sangoway.com</a>
</SectionContent>

<EmailParagraph>
    @Emails.if_this_was_you_you_can_disregard_this_message
</EmailParagraph>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

<EmailParagraph>
    Ip: @Login.IpAddress <br/>
    UserAgent: @Login.UserAgent <br/>
    Device Type: @Login.DeviceType <br/>
    Location: @Login.Location <br/>
</EmailParagraph>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

<EmailParagraph>
    @Emails.if_this_was_not_you_please_change_your_password_immediately
</EmailParagraph>

<EmailCta Href="@($"https://{WebAppDomain}/auth/forgot_password")" Title="Change password" target="_blank"/>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

@code {
    private static string WebAppDomain => "WEB_APP__DOMAIN".FromEnvRequired();

    [Parameter]
    public User User { get; set; } = null!;

    [Parameter]
    public UserLogin Login { get; set; } = null!;
}
