@layout EmailLayout
@using Domain.Aggregates
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    @Emails.urgent_attention_required
</SectionContent>

<EmailParagraph>
    @Emails.your_package_has_been_deemed_to_contain_prohibited_items_by_our_staff!<br/>
    @Emails.tracking_code: @Package.TrackingCode
</EmailParagraph>

<EmailParagraph>
    @Emails.if_you_think_this_if_a_mistake_please_contact_our_support_team_immediately
    <a href="mailto:support@sangoway.com">support@sangoway.com</a>
</EmailParagraph>

<EmailParagraph>
    @Emails.for_a_full_list_of_prohibited_items_please_see <a href="https://www.rs.ge/OnlineOrders?cat=3&tab=1">rs.ge</a>
</EmailParagraph>

@code {
    [Parameter]
    public Package Package { get; set; } = null!;
}