@layout EmailLayout
@using Domain.Aggregates
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    @Emails.you_requested_a_password_reset_for_your_account
</SectionContent>

<SectionContent SectionId="@EmailLayout.FooterSectionId">
    @Emails.if_you_did_not_request_a_password_reset_please_ignore_this_email
    @Emails.this_email_was_sent_to @User.Email.
    @Emails.support_email <a href="mailto:support@sangoway.com">support@sangoway.com</a>
</SectionContent>

<EmailParagraph>
    @Emails.please_click_on_the_link_below_to_reset_your_password
</EmailParagraph>

<EmailCta Href="@CallbackUrl" Title="Reset password" target="_blank"/>

@code {
    [Parameter]
    public User User { get; set; } = null!;

    [Parameter]
    public string CallbackUrl { get; set; } = null!;
}
