@layout EmailLayout
@using Domain.Aggregates
@using Domain.Common
@using Microsoft.AspNetCore.Components.Sections
@inherits ComponentBase

<SectionContent SectionId="EmailLayout.TitleSectionId">
    @Emails.welcome_to_sangoway
</SectionContent>

<EmailParagraph>
    @Emails.your_account_has_been_created_by_an_administrator
</EmailParagraph>

<EmailParagraph>
    @Emails.we_are_excited_to_have_you_on_board.<br/>
    @Emails.please_use_this_email_and_password_to_login: <br/>
    @Emails.email: @User.Email
    @Emails.password: @Password
</EmailParagraph>

<EmailCta Href="@($"https://{WebAppDomain}/home")" Title="Go to the website"/>

<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>
<EmailParagraph>
    @Emails.it_is_recommended_to_change_your_password.<br/>
    <a href="@($"https://{WebAppDomain}/terms")" target="_blank" style="color:#067df7;text-decoration:none;">
        @Emails.tos
    </a> @Emails.and
    <a href="@($"https://{WebAppDomain}/privacy")" target="_blank" style="color:#067df7;text-decoration:none;">
        @Emails.privacy_policy
    </a>:
</EmailParagraph>
<hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"/>

@code {
    private static string WebAppDomain => "WEB_APP__DOMAIN".FromEnvRequired();

    [Parameter, EditorRequired]
    public User User { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Password { get; set; } = null!;
}
