@using Application.Cqrs.Staff.Queries
@attribute [StreamRendering]

@if (Stats is not null)
{
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
        <Card>
            <Header class="flex flex-row items-center justify-between space-y-0 pb-2">
                <CardTitle>Packages received this month</CardTitle>
                <Blazicon Svg="@Icons.Truck" class="text-muted-foreground size-4"/>
            </Header>
            <Content>
                <div class="text-2xl font-bold">@Stats.PackagesThisMonth</div>
                <p class="text-muted-foreground text-xs">
                    @(Stats.MonthlyPackageChangePercentage > 0 ? "+" : "-")
                    @(Stats.MonthlyPackageChangePercentage.ToString("P"))
                    from last month
                </p>
            </Content>
        </Card>

        @* <Card> *@
        @*     <Header class="flex flex-row items-center justify-between space-y-0 pb-2"> *@
        @*         <CardTitle>Total revenue</CardTitle> *@
        @*         <Blazicon Svg="@Icons.DollarSign" class="text-muted-foreground size-4"/> *@
        @*     </Header> *@
        @*     <Content> *@
        @*         <div class="text-2xl font-bold">@(2_350.00.ToString("C"))</div> *@
        @*         <p class="text-muted-foreground text-xs"> *@
        @*             +10% from last month *@
        @*         </p> *@
        @*     </Content> *@
        @* </Card> *@
        @* *@
        @* <Card> *@
        @*     <Header class="flex flex-row items-center justify-between space-y-0 pb-2"> *@
        @*         <CardTitle>Total Users</CardTitle> *@
        @*         <Blazicon Svg="@Icons.Users" class="text-muted-foreground size-4"/> *@
        @*     </Header> *@
        @*     <Content> *@
        @*         <div class="text-2xl text-destructive font-bold">@(UserCount)</div> *@
        @*     </Content> *@
        @* </Card> *@
        @* *@
        @* <Card> *@
        @*     <Header class="flex flex-row items-center justify-between space-y-0 pb-2"> *@
        @*         <CardTitle>Total users</CardTitle> *@
        @*         <Blazicon Svg="@Icons.CreditCard" class="text-muted-foreground size-4"/> *@
        @*     </Header> *@
        @*     <Content> *@
        @*         <Button>Top up using stripe</Button> *@
        @*         <p class="text-muted-foreground text-xs"> *@
        @*             Your payment info is secure *@
        @*         </p> *@
        @*     </Content> *@
        @* </Card> *@
    </div>
}

@code {
    private MonthlyAdminStats? Stats { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Stats = await SendCommandAsync(new FetchMonthlyAdminStatsQuery());
    }
}
