@using Application.Cqrs.Staff.Queries
@attribute [StreamRendering]

@if (Stats is not null)
{
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
        <Card>
            <Header class="flex flex-row items-center justify-between space-y-0 pb-2">
                <CardTitle>Packages processed</CardTitle>
                <Blazicon Svg="@Icons.Package" class="text-muted-foreground !size-7"/>
            </Header>
            <Content class="space-y-2 pt-0">
                <div class="text-2xl font-bold">@Stats.PackagesThisMonth</div>
                <p class="text-muted-foreground text-xs">
                    @(Stats.MonthlyPackageChange.ToString("N2"))%
                    from last month
                </p>
            </Content>
        </Card>

        <Card>
            <Header class="flex flex-row items-center justify-between space-y-0 pb-2">
                <CardTitle>Shipping Revenue</CardTitle>
                <Blazicon Svg="@Icons.DollarSign" class="text-muted-foreground !size-7"/>
            </Header>
            <Content class="space-y-2 pt-0">
                <div class="text-2xl font-bold">@Stats.ShippingRevenueThisMonth</div>
                <p class="text-muted-foreground text-xs">
                    @(Stats.MonthlyRevenueChange.ToString("N2"))%
                    from last month
                </p>
            </Content>
        </Card>

        <Card>
            <Header class="flex flex-row items-center justify-between space-y-0 pb-2">
                <CardTitle>Races</CardTitle>
                <Blazicon Svg="@Icons.Plane" class="text-muted-foreground !size-7"/>
            </Header>
            <Content class="space-y-2 pt-0">
                <div class="text-2xl font-bold">@Stats.TotalRaces</div>
                <p class="text-muted-foreground text-xs">
                    @(Stats.MonthlyRaceChange.ToString("N2"))%
                    from last month
                </p>
            </Content>
        </Card>

        <Card>
            <Header class="flex flex-row items-center justify-between space-y-0 pb-2">
                <CardTitle>Users</CardTitle>
                <Blazicon Svg="@Icons.Users" class="text-muted-foreground !size-7"/>
            </Header>
            <Content class="space-y-2 pt-0">
                <div class="text-2xl font-bold">@Stats.TotalUsers</div>
                <p class="text-muted-foreground text-xs">
                    @(Stats.MonthlyUserChange.ToString("N2"))%
                    from last month
                </p>
            </Content>
        </Card>
    </div>
}

@code {
    private MonthlyAdminStats? Stats { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Stats = await SendCommandAsync(new FetchMonthlyAdminStatsQuery());
    }
}
