<div class="my-32 w-full">
    <h2 class="text-4xl font-semibold mb-8">
        @Locale.how_it_works
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-stretch gap-4 justify-around">
        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserPlus" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.how_step_1
                </CardTitle>
            </Header>
            <Content class="flex flex-col gap-4 text-muted-foreground">
                @((MarkupString)Locale.how_step_1_description)
                <CtaButton>
                    @Locale.signup
                </CtaButton>
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Warehouse" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.how_step_2
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @((MarkupString)Locale.how_step_2_description)
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.BookCheck" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.how_step_3

                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @((MarkupString)Locale.how_step_3_description)
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Plane" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.how_step_4
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @((MarkupString)Locale.how_step_4_description)
            </Content>
        </Card>
    </div>
</div>
