<div class="my-32 w-full">
    <h2 class="text-4xl font-semibold mb-8">
        @Locale.testimonial_header
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-stretch gap-4 justify-around pt-[40px]">
        <Card class="relative">

            <div class="absolute -top-10 left-1/2 -translate-x-1/2 w-20 h-20 rounded-full overflow-hidden border-4 border-background shadow-md">
                <img src="images/mock-profile.png" alt="Profile" class="w-full h-full object-cover" />
            </div>
            
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="flex flex-col gap-4 text-muted-foreground">
                @Locale.testimonial_1
            </Content>
            <Footer>
                - @Locale.testimonial_1_author
            </Footer>
        </Card>

        <Card class="relative mt-10 lg:mt-0">

            <div class="absolute -top-10 left-1/2 -translate-x-1/2 w-20 h-20 rounded-full overflow-hidden border-4 border-background shadow-md">
                <img src="images/mock-profile.png" alt="Profile" class="w-full h-full object-cover" />
            </div>


            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @Locale.testimonial_2
            </Content>
            <Footer>
                - @Locale.testimonial_2_author
            </Footer>
        </Card>

        <Card class="relative mt-10 lg:mt-0">
            <div class="absolute -top-10 left-1/2 -translate-x-1/2 w-20 h-20 rounded-full overflow-hidden border-4 border-background shadow-md">
                <img src="images/mock-profile.png" alt="Profile" class="w-full h-full object-cover" />
            </div>


            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @Locale.testimonial_3
            </Content>
            <Footer>
                - @Locale.testimonial_3_author
            </Footer>
        </Card>

        <Card class="relative mt-10 lg:mt-0">
            <div class="absolute -top-10 left-1/2 -translate-x-1/2 w-20 h-20 rounded-full overflow-hidden border-4 border-background shadow-md">
                <img src="images/mock-profile.png" alt="Profile" class="w-full h-full object-cover" />
            </div>

            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.UserRound" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                </CardTitle>
            </Header>
            <Content class="text-muted-foreground">
                @Locale.testimonial_4
            </Content>
            <Footer>
                - @Locale.testimonial_4_author
            </Footer>
        </Card>
    </div>
</div>