<div class="lg:my-32 w-full">
    <h2 class="text-4xl font-semibold mb-8">
        @Locale.why_sangoway
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-3 items-stretch gap-4 justify-around">
        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.DollarSign" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.why_cheap_prices
                </CardTitle>
            </Header>
            <Content>
                @Locale.why_cheap_prices_description
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Shield" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.why_experience
                </CardTitle>
            </Header>
            <Content>
                @Locale.why_experience_description
            </Content>
        </Card>

        <Card>
            <Header>
                <CardTitle class="flex items-center gap-2">
                    <Blazicon Svg="@Lucide.Search" class="flex-grow-0 flex-shrink-0 text-[#21bf73] !size-8"/>
                    @Locale.why_advanced_tracking
                </CardTitle>
            </Header>
            <Content>
                @Locale.why_advanced_tracking_description
            </Content>
        </Card>
    </div>

    <Card class="mt-4 grid grid-cols-2 lg:grid-cols-4 gap-4 lg:divide-y-0">
        <div class="text-center p-4 lg:p-6">
            <h3 class="text-3xl lg:text-4xl font-bold text-[#21bf73]">200+</h3>
            <p class="text-sm">
                @Locale.why_cards_packages_from_usa
            </p>
        </div>

        <div class="text-center p-4 lg:p-6">
            <h3 class="text-3xl lg:text-4xl font-bold text-[#21bf73]">500+</h3>
            <p class="text-sm">
                @Locale.why_cards_packages_from_geo
            </p>
        </div>

        <div class="text-center p-4 lg:p-6">
            <h3 class="text-3xl lg:text-4xl font-bold text-[#21bf73]">1400+</h3>
            <p class="text-sm">
                @Locale.why_cards_storage_items
            </p>
        </div>
        <div class="text-center p-4 lg:p-6">
            <h3 class="text-3xl lg:text-4xl font-bold text-[#21bf73]">150</h3>
            <p class="text-sm">
                @Locale.why_cards_moving_items
            </p>
        </div>
    </Card>
</div>
